<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="../static/js/index.js" type="module" defer></script>
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h1>Dashboard</h1>
        <div id="buttons">
            <a href="/subscription-create" class="new-subscription">New Subscription</a>
            <button class="account">Log Out</button>
        </div>
    </header>
    <main>
        <div class="stats">
            <div class="stat-box">
                <p class="stat-text">Active Subscription(s)</p>
                <p class="stat-value"><span id="active-sub"></span></p>
            </div>
            <div class="stat-box">
                <p class="stat-text">Next Renewal</p>
                <p class="stat-value"><span id="next-renew"></span> days</p>
            </div>
            <div class="stat-box">
                <p class="stat-text">Total</p>
                <p class="stat-value">$<span id="total-price"></span>/m</p>
            </div>
        </div>
        <div class="action">
            <div class="filter-sort-buttons">
                <button id="filter-button">Filter</button>
                <button id="sort-button">Sort</button>
            </div>
            <button id="search-button">Search</button>
        </div>
        <div class="filter-sort-options">
            <div class="filters">
            </div>
            <div class="sort-options">
            </div>
        </div>
        <div class="cards"></div>
        </div>
    </main>
    <footer>
        <div class="footer left">
            <li>
                <a href="https://github.com/raj-singh7/ACIT2911-Group-8">Github</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </div>
        <div class="footer right">
            Created by Group-8 for ACIT2911
            </br>
            &copy; 2026
        </div>
    </footer>
    <dialog id="viewSubscription">
        <div class="view-page-content">
            <div class="closeSubButtonDiv">
                <button id="closeSubButton">X</button>
            </div>
            <div class="sub-name">
                <div id="subName"></div>
            </div>
            <div class="sub-logo">
                <img id="subLogo" src="">
            </div>
            <div id="subNameEdit" hidden>
                    <label>Name:</label>
                    <input id="subNameEditInput" />
            </div>
            <div class="sub-price">
                <p id="subPrice"></p>
                <div id="subPriceEdit" hidden>
                    <label>Price ($):</label>
                    <input type="number" id="subPriceEditInput" />
                </div>
            </div>
            <div class="sub-total-paid">
                <p id="subTotalPaid"></p>
            </div>
            <div class="sub-period">
                <p id="subPeriod"></p>
                <div id="subPeriodEdit" hidden>
                    <label>Billing Type: </label>
                    <select id="subPeriodEditInput">
                        <option value="" disabled selected>Monthly or Yearly?</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </div>
            </div>
            <div class="sub-renewal-date">
                <p id="subRenewalDate"></p>
                <div id="subRenewalDateEdit" hidden>
                    <label>Renewal date: </label>
                    <input type="date" id="subRenewalDateInput">
                </div>
            </div>
            <div class="sub-subscribed-date">
                <p id="subscribedOn">Subscribed on: Not set</p>
                <div id="subscribedOnDateEdit" hidden>
                    <label>Subscribed On: </label>
                    <input type="date" id="subscribedOnDateEditInput">
                </div>
            </div>
            <div class="sub-payments">
                <p>Payments (since adding)</p>
                <table class="payments-table">
                    <thead>
                        <tr class="table-header">
                            <th>Amount Paid</th>
                            <th>Paid On</th>
                        </tr>
                    </thead>
                    <tbody id="paymentsBody">
                    </tbody>
                </table>
            </div>
            <div id="editSubButtonDiv">
                <button id="editSubButton">Edit</button>
            </div>
            <div id="deleteSubButtonDiv">
                <button id="deleteSubButton">Delete</button>
            </div>
            <div id="saveEditButtonDiv" hidden>
                <button id="saveEditButton">Save</button>
            </div>
            <div id="cancelEditButtonDiv" hidden>
                <button id="cancelEditButton">Cancel</button>
            </div>
        </div>
    </dialog>
</body>

</html>