<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <script src="../static/js/login.js" defer></script>
</head>

<body>
    <header>
        <h1>Log In</h1>
        <h3>Subscription Manager</h3>
    </header>
    <main>
        <form id="log-in">
            <div class="value-div">
                <label for="log-in">Email:</label>
                <input type="email" id="email-input" name="email-input" form="log-in" placeholder="Enter your email">
            </div>

            </br>

            <div class="value-div">
                <label for="log-in">Password:</label>
                <input type="password" id="password-input" name="password-input" form="log-in"
                    placeholder="Enter your password">
            </div>

            </br>

            <div class="value-div" id="login-button-div">
                <input type="button" id="loginButton" name="loginButton" value="Log In" form="log-in"
                    class=" loginButton">
            </div>

            <div class="value-div" id="signup-button-div">
                <p>Don't have an account?</p>
                <a href="/signup" id="signup-page-button">Sign Up</a>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer left">
            <li>
                <a href="https://github.com/raj-singh7/ACIT2911-Group-8">Github</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </div>
        <div class="footer right">
            Created by Group-8 for ACIT2911
            </br>
            &copy; 2026
        </div>
    </footer>
</body>

</html>