<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/css/signup.css" />
    <script src="../static/js/signup.js" defer></script>
</head>

<body>
    <header>
        <h1>Sign Up</h1>
        <h3>Subscription Manager</h3>
    </header>
    <main>
        <form id="sign-up">
            <div class="value-div">
                <label for="sign-up">Email:</label>
                <input type="email" id="email-input" name="email-input" form="sign-up" placeholder="Enter your email">
            </div>

            </br>

            <div class="value-div">
                <label for="sign-up">Password:</label>
                <input type="password" id="password-input" name="password-input" form="sign-up"
                    placeholder="Enter your password">
            </div>

            </br>

            <div class="value-div" id="signup-button-div">
                <input type="button" id="signupButton" name="signupButton" value="Sign Up" form="sign-up"
                    class="signupButton">
            </div>

            <div class="value-div" id="login-button-div">
                <p>Already have an account?</p>
                <a href="/login" id="login-page-button">Log In</a>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer left">
            <li>
                <a href="https://github.com/raj-singh7/ACIT2911-Group-8">Github</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </div>
        <div class="footer right">
            Created by Group-8 for ACIT2911
            </br>
            &copy; 2026
        </div>
    </footer>
</body>

</html>