<html>

<head>
    <title>Create Subscription</title>
    <link href="../static/css/subscription-create.css" rel="stylesheet">
    <script src="../static/js/shared.js" defer></script>
    <script src="../static/js/subscription-create.js" defer></script>
</head>

<body>
    <header>
        <h1 class="title">New Subscription</h1>
        <div id="buttons">
            <a href="/" class="to-dashboard">Dashboard</a>
            <button class="account">Log Out</button>
        </div>
    </header>
    <main>
        <form id="subscription-details">
            <div id="subscriptionNameDiv">
                <label for="subscriptionName">Name:</label>
                <input type="text" id="subscriptionName" name="subscriptionName" form="subscription-details" />
            </div>

            </br>

            <div id="subscriptionPriceDiv">
                <label for="subscriptionPrice">Price ($):</label>
                <input type="number" id="subscriptionPrice" name="subscriptionPrice" form="subscription-details" />
            </div>

            </br>

            <div id="subscriptionDateDiv">
                <label for="subscriptionDate">Renewal Date:</label>
                <input type="date" id="subscriptionDate" name="subscriptionDate" form="subscription-details" />
            </div>

            </br>

            <div id="subscriptionPeriodDiv">
                <label for="subscriptionPeriod">Period:</label>
                <select name="subscriptionPeriod" id="subscriptionPeriodSelect" form="subscription-details">
                    <option value="" disabled selected>Monthly or Yearly?</option>
                    <option value="Monthly">Monthly</option>
                    <option value="Yearly">Yearly</option>
                </select>
            </div>

            <div class="submitButtonDiv">
                <input type="button" id="submitButton" name="submitButton" value="Submit" form="subscription-details"
                    class="submitButton">
            </div>
        </form>
    </main>
    <footer>
        <div class="footer left">
            <li>
                <a href="https://github.com/raj-singh7/ACIT2911-Group-8">Github</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </div>
        <div class="footer right">
            Created by Group-8 for ACIT2911
            </br>
            &copy; 2026
        </div>
    </footer>
</body>

</html>