.title {
    text-align: center;
    text-decoration: underline;
}

#subscription-details {
    display: flex;
    flex-direction: column;
    line-height: 3em;
    align-items: center;
    zoom: 150%;
    border: 3px solid lightblue;
    border-radius: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 65px;
}

#subscription-details>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#subscription-details>div>label {
    display: block;
    width: 90px;
    text-align: center;
    font-size: large;
}

#subscription-details>div>input {
    font-size: large;
    width: 250px;
    margin-left: 15px;
    height: 30px;
}

#formButtons {
    margin-top: 12px;
}

#back-button {
    background-color: lightblue;
    border: 3px solid lightblue;
    border-radius: 12px;
    text-align: center;
    padding: 12px 20px;
    position: absolute;
    right: 80px;
    bottom: 100px;
    text-decoration: none;
    color: black;
    font-size: larger;
}

#back-button:hover {
    background-color: rgb(128, 174, 189);
    border: 3px solid lightblue;
}