<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login.css" />
  </head>
  <h1>Subscription Manager</h1>
  <body>
    <div class="login">
      <h2>Login</h2>
      <form>
        <div class="input">
          <label>Email</label>
          <input type="email" placeholder="Enter your email" />
        </div>

        <div class="input">
          <label>Password</label>
          <input type="password" placeholder="Enter your password" />
        </div>
        <button class="log-button">Login</button>
        <button><a class="log-button" href="/sign-up">Sign Up</a></button>
      </form>
    </div>
  </body>
</html>
