<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/signup.css" />
    <script src="../static/js/signup.js" defer></script>
</head>

<body>
    <header>
        <h1>Sign Up</h1>
    </header>
    <main>
        <form id="sign-up">
            <div id="email-div">
                <label for="sign-up">Email:</label>
                <input type="email" id="email-input" name="email-input" form="sign-up" placeholder="Enter your email">
            </div>

            </br>

            <div class="password-div">
                <label for="sign-up">Password:</label>
                <input type="password" id="password-input" name="password-input" form="sign-up"
                    placeholder="Enter your password">
            </div>

            </br>

            <div class="submitButtonDiv">
                <input type="button" id="submitButton" name="submitButton" value="Submit" form="sign-up"
                    class="submitButton">
            </div>
        </form>
    </main>
</body>

</html>