<html>

<head>
    <title>Create Subscription</title>
    <link href="../static/subscription-create.css" rel="stylesheet">
</head>

<body>
    <h1 class="title">Create New Subscription</h1>
    <form id="subscription-details">
        <div id="subscriptionNameDiv">
            <label for="subscriptionName">Name</label>
            <input type="text" id="subscriptionName" name="subscriptionName" />
        </div>

        </br>

        <div id="subscriptionPriceDiv">
            <label for="subscriptionPrice">Price (CA)</label>
            <input type="number" id="subscriptionPrice" name="subscriptionPrice" />
        </div>

        </br>

        <div id="subscriptionDateDiv">
            <label for="subscriptionDate">Start Date</label>
            <input type="date" id="subscriptionDate" name="subscriptionDate" />
        </div>

        </br>

        <div id="formButtons">
            <input type="button" id="submitButton" name="submitButton" value="Submit">
        </div>
    </form>
</body>

</html>