<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">View</h1>
    <div id="buttons">
        <a href="/" class="to-dashboard">Dashboard</a>
        <button class="account">Log Out</button>
    </div>
    <main>
        <div id="subscriptionNameDiv">
            <label for="subscriptionName">Name:</label>
        </div>

        <div>
            <label for="subscriptionPrice">Price ($):</label>
        </div>

        <div>
            <label for="subscriptionDate">Renewal Date:</label>
        </div>

        <div>
            <label for="subscriptionPeriod">Period:</label>
        </div>

       
    </main>
</body>
</html>