<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>View</h1>
    <main>
        <div id="subscriptionNameDiv">
            <label for="subscriptionName">Name:</label>
        </div>

        <div>
            <label for="subscriptionPrice">Price ($)</label>
        </div>

        <div>
            <label for="subscriptionDate">Start Date:</label>
        </div>

        <div>
            <label for="subscriptionPeriod">Period:</label>
        </div>

       
    </main>
</body>
</html>